body{
    background-color: rgb(250, 246, 237);

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}